In [6]:
import pandas as pd
import numpy as np

In [15]:
def load_data(random_state=0):
    sheet_url = 'https://docs.google.com/spreadsheets/d/1pw9EAIvtiWenPDBFBIf7pwTh0FvIbIR0c3mY5gJwlDk/edit#gid=0'
    sheet_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')
    df = pd.read_csv(sheet_url)
    df = df.dropna(subset=['chinese', 'pinyin', 'english', 'word1', 'word2'])
    df = df.sample(frac=1.0, random_state=random_state).reset_index(drop=True)
    return df

df = load_data()
print(len(df))
df.head()

93

,id,chinese,pinyin,english,category,priority,tmp,word1,word1_english,word2,word2_english,word3,word3_english,word4,word4_english
0,3,组成,zǔ chéng,to form;make up,NaN,1.0,NaN,组,set,成为,become,NaN,NaN,NaN,NaN
1,31,厨具,chú jù,kitchenware,NaN,3.0,NaN,厨房,kitchen,具,tool,NaN,NaN,NaN,NaN
2,287,花瓶,huā píng,vase,NaN,3.0,NaN,花,flower,瓶,bottle,NaN,NaN,NaN,NaN
3,17,多少,duō shǎo,how many,NaN,4.0,NaN,多,many,少,few,NaN,NaN,NaN,NaN
4,14,一月,yī yuè,january,NaN,4.0,NaN,一,one,月,month,NaN,NaN,NaN,NaN

In [3]:
current_row = df.loc[3]
current_row

id                     17
chinese                多少
pinyin           duō shǎo
english          how many
category              NaN
priority              4.0
tmp                   NaN
word1                   多
word1_english        many
word2                   少
word2_english         few
word3                 NaN
word3_english         NaN
word4                 NaN
word4_english         NaN
Name: 3, dtype: object